<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>活动地点</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<style>
			.mui-table-view-cell p{color: #000000;margin-top: 6px;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">活动地点</h1>
			<a class="mui-pull-right" onclick="openNewPage('activity-star.html')">
				<h5 style="line-height: 33px;">确定</h5>
			</a>
		</header>
		<div class="mui-content">
			<div>
				<img src="../public/img/64.jpg" />
			</div>
			<div>
				<ul class="mui-table-view mui-table-view-radio">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>[位置]</span>
							<p>广东省深圳市宝安区新桥三路11-1</p>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>卓越时代大厦</span>
							<p>沙井街道中心路与北环路交汇处</p>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>宏海汇盈大厦</span>
							<p>深圳市宝安区新桥三路11-1附近</p>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>大庙新区</span>
							<p>深圳市宝安区新桥三路</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
