<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>车辆认证</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../js/appconf.js" ></script>
		<script type="text/javascript" src="../js/carok.js" ></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">已认证车辆</h1>
			<a class="mui-pull-right" onclick="openNewPage('car-ok1.html')">
				<h5 style="line-height: 33px;">认证</h5>
			</a>
		</header>
		<div class="mui-content">
			<div class="carlist">
				<!--<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<span>Jhdao45544864</span>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<span>dka54565dagkd</span>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<span>lvdgkl6346444</span>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<span>engunagdd4654g</span>
					</li>
				</ul>
			</div>-->
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
