<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>兑换专区</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../js/appconf.js" ></script>
		<script type="text/javascript" src="../js/exchange-zone.js" ></script>
		<style>
			body,.mui-content{background: white;}
			.mui-table-view .mui-media-object{max-width: 75px;height: 65px;}
			.mui-table-view-cell p{margin-top: 8px;}
			.iconfont{color: #FFB139;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">兑换专区</h1>
			<a class="mui-icon mui-pull-right" onclick="openNewPage('exchange-record.html')">
				<h5>兑换记录</h5>
			</a>
		</header>
		<div class="mui-content">
			<div id="exchangelist">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('exchange-goods.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/49.jpg" />
						<div class="mui-media-body">
							<span class="font-14" style="line-height: 18px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</span>
							<p>
								<i class="mui-icon iconfont">&#xe663;</i> 800金币
							</p>
						</div>
					</li>
				</ul>
				<!--<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('exchange-goods.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/50.jpg" />
						<div class="mui-media-body">
							<span class="font-14" style="line-height: 18px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</span>
							<p>
								<i class="mui-icon iconfont">&#xe663;</i> 800金币
							</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('exchange-goods.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/51.jpg" />
						<div class="mui-media-body">
							<span class="font-14" style="line-height: 18px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</span>
							<p>
								<i class="mui-icon iconfont">&#xe663;</i> 800金币
							</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('exchange-goods.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/52.jpg" />
						<div class="mui-media-body">
							<span class="font-14" style="line-height: 18px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</span>
							<p>
								<i class="mui-icon iconfont">&#xe663;</i> 800金币
							</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('exchange-goods.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/53.jpg" />
						<div class="mui-media-body">
							<span class="font-14" style="line-height: 18px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</span>
							<p>
								<i class="mui-icon iconfont">&#xe663;</i> 800金币
							</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('exchange-goods.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/33.jpg" />
						<div class="mui-media-body">
							<span class="font-14" style="line-height: 18px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</span>
							<p>
								<i class="mui-icon iconfont">&#xe663;</i> 800金币
							</p>
						</div>
					</li>
				</ul>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
