<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>兑换记录</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../js/appconf.js" ></script>
		<script type="text/javascript" src="../js/exchange-record.js" ></script>
		
		<style>
			.mui-table-view-cell p{color: #000000;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">兑换记录</h1>
		</header>
		<div class="mui-content">
			<div id="duihuan">
				<!--<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<p>2016-08-26 14:06</p>
						<p style="margin-top: 8px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</p>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<p>2016-08-26 14:06</p>
						<p style="margin-top: 8px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</p>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<p>2016-08-26 14:06</p>
						<p style="margin-top: 8px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</p>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<p>2016-08-26 14:06</p>
						<p style="margin-top: 8px;">小米九号平衡电动车贴纸 个性防水耐磨冷光片标贴</p>
					</li>
				</ul>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
