<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>发现</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<style>
			body,.mui-content{background: white;}
			.mui-table-view-cell{margin: 10px;height: 150px;width: 47%;}
			.mui-table-view:after{background: none;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav"> 
			<h1 class="mui-title">发现</h1>
			<!--<a class="mui-pull-right" onclick="openNewPage('found-sousuo.html')">
				<i class="mui-icon iconfont" style="font-size: 18px;margin-top: 2px;">&#xe60c;</i>
			</a>-->
		</header>
		<div class="mui-content">
			<div>
				<ul class="mui-table-view mui-grid-view">
					<li class="mui-table-view-cell mui-text-left mui-pull-left" style="background: url(../public/img/21.jpg);background-size: cover;" onclick="openNewPage('shopping.html')">
						<span>商城</span>
						<p>mall</p>
					</li>
					<li class="mui-table-view-cell mui-text-left mui-pull-right" style="background: url(../public/img/22.jpg);background-size: cover;" onclick="openNewPage('nearby.html')">
						<span class="white">附近</span>
						<p class="white">nearby</p>
					</li>
					<li class="mui-table-view-cell mui-text-left mui-pull-left" style="background: url(../public/img/23.jpg);background-size: cover;" onclick="openNewPage('club.html')">
						<span>俱乐部</span>
						<p>club</p>
					</li>
					<li class="mui-table-view-cell mui-text-left mui-pull-right" style="background: url(../public/img/24.jpg);background-size: cover;" onclick="openNewPage('stars-coash.html')">
						<span class="white">明星教练</span>
						<p class="white">Stars coach</p>
					</li>
					<li class="mui-table-view-cell mui-text-left mui-pull-left" style="background: url(../public/img/25.jpg);background-size: cover;" onclick="openNewPage('exchange-zone.html')">
						<span class="white">兑换专区</span>
						<p class="white">Exchange zone</p>
					</li>
					<li class="mui-table-view-cell mui-text-left mui-pull-right" style="background: url(../public/img/26.jpg);background-size: cover;" onclick="openNewPage('activity.html')">
						<span class="white">活动</span>
						<p class="white">activity</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
