<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小纸条</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/iconfont.css" />
		<style>
			.mui-table-view .mui-media-object{max-width: 55px;height: 55px;border-radius: 100%;}
			.home_top img{
				border-radius: 100%;
				width: 55px;
				height:55px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">小纸条</h1>
		</header>
		<div class="mui-content">
			<div id="content">
				<!--<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('little-note1.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.jpg" />
						<div class="mui-media-body">
							<span style="line-height: 33px;">沉着的心</span>
							<p>你好！</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('little-note1.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/4.jpg" />
						<div class="mui-media-body">
							<span style="line-height: 33px;">沉着的心</span>
							<p>一起骑车出去玩吧！</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media" onclick="openNewPage('little-note1.html')">
						<img class="mui-media-object mui-pull-left" src="../public/img/5.jpg" />
						<div class="mui-media-body">
							<span style="line-height: 33px;">沉着的心</span>
							<p>一起骑车出去玩吧！</p>
						</div>
					</li>
				</ul>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
	<script src="../js/jquery-2.1.4.min.js"></script>	
	<script src="../js/appconf.js"></script>	
	<script src="../js/app/little-note.js"></script>	
	
</html>
