<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新手教程</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<style>
			body,.mui-content{background: white;}
			.my{padding: 10px 15px;}
			.my p{color: #000000;line-height: 24px;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">新手教程</h1>
		</header>
		<div class="mui-content">
			<div>
				<img src="../public/img/10.jpg" style="height: 235px;" />
			</div>
			<div class="my">
				<p>平衡车玩的就是体感，因为这种车子是通过重心来控制的，不管你是想让它加速还是减速、左转还是右转，这些都离不开驾驶人对自身重心的移动，新手入门最重要的是学会基本的前进、减速和左右转这些技巧。</p>
				<p style="text-indent: 1em;">刚开始的时候，初学者们最容易学会的一定是加速前进，因为我们会习惯让身体前倾，这样车子就会感受我们的重心前移然后作出相应的指令——前进，需要减速时反之亦然。如果大家在驾驶电动平衡车时遇到障碍需要转弯时，首先要注意不能让身体前倾，不然容易加速撞上障碍物，然后要注意的就是让身体向左或者向右倾，这样车子就能够按照身体的倾向来做好转弯的指令。</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
