<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>找回密码</title>
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<!--<script src="../js/mui.js" type="text/javascript"></script>-->
		<script type="text/javascript" src="../js/appconf.js" ></script>
		<script type="text/javascript" src="../js/password.js" ></script>
		<style>
			.mui-table-view-cell{padding: 5px 0;}
			.mui-bar-nav~.mui-content {padding-top: 60px;}
			.mui-input-row label{ width: 25%; text-align: center;padding: 11px 0px;}
			.mui-input-row label~input{ width: 75%; font-size: 1em; padding: 0 15px 0 0; }
			.res_pasw{padding: 20px 20px; text-align: center; margin-top: 2em;}
			.res_pasw button{color: white;width: 80%;border-radius: 50px;font-size: 1.2em;background:#ff6700;border: none;}		
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">找回密码</h1>
		</header>
		<div class="mui-content">
			<form id='password'>
				<div class="mui-table-view">
					<div class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
							<input type="password"  id="passwordone" placeholder="请输入密码"/>
						</div>	
					</div>					
				</div>	
				<div class="mui-table-view">
					<div class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>再次输入</label>
							<input type="password"  id="passwordtwo"  placeholder="请再次输入"/>
						</div>	
					</div>					
				</div>	
				<div class="res_pasw">
					<button type="button" id="btn" >完成</button>
				</div>
			</form>	
		</div>
		<script type="text/javascript" src="../libs/mui/mui.js"></script>
		<script type="text/javascript" src="../js/open.js"></script>
	</body>
</html>
