<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>常见问题</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../js/appconf.js" ></script>
		<script type="text/javascript" src="../js/problem.js" ></script>
		<style>
			body,.mui-content{background: white;}
			p{color: black;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">常见问题</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded problem" >
				<!--<p>Q1：小九刚到手，想问下轮胎可以打气吗？</p>
				<p>A1：是可以的，随包装附送的一根长管即用来打气时使用的哟~ </p>
				<p>Q2：给小九的轮胎打气，打多少才好？</p>
				<p>A2：九号平衡车轮胎压力的标称值为：最大载重70公斤(155磅)210千帕(30磅/平方英寸)，通常在30psi(磅/平方英寸)左右为宜，可根据室外环境温度、行驶路面路况和个人体重等情况进行微调，建议使用带胎压表的打气筒调整胎压哦~</p>	 
				<p>Q3：我在湖南常德，可以直接在官网买小九吗？</p>
				<p>A3：可以的哟~最新开通城市信息可以移步 </p>
				<p>Q4：小米九号平衡车承受重量？180斤能玩吗？</p>
				<p>A4：您好，九号平衡车设计最大载重为85kg，最好不要超出此载重上限。您的体重已稍有超出，建议谨慎选购~</p>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
