<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>评价</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<script type="text/javascript" src="../js/appconf.js" ></script>
		<script type="text/javascript" src="../js/rate.js" ></script>
		<style>
			.mui-table-view .mui-media-object{max-width: 45px;height: 45px;border-radius: 100%;}
			p{color: #000000;}
			.mui-table-view .mui-media-body img{max-width: 55px;height: 55px;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">评价</h1>
		</header>
		<div class="mui-content">
			<div id="ratelist">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.jpg" />
						<div class="mui-media-body">
							<p>执着的心</p>
							<p class="font-12" style="line-height: 25px;">2016-06-28</p>
							<p>玩了几天才来评价，真的很好，静音，在家都能玩，很喜欢，几分钟就学会了。</p>
							<img src="../public/img/36.jpg" />
							<img src="../public/img/36.jpg" style="margin-left: 3px;" />
						</div>
					</li>
				</ul>
				<!--<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.jpg" />
						<div class="mui-media-body">
							<p>执着的心</p>
							<p class="font-12" style="line-height: 25px;">2016-06-28</p>
							<p>玩了几天才来评价，真的很好，静音，在家都能玩，很喜欢，几分钟就学会了。</p>
							<img src="../public/img/36.jpg" />
							<img src="../public/img/36.jpg" style="margin-left: 3px;" />
							<p style="margin-top: 5px;color: #2B3E62;">[商家回复]：谢谢你的支持！</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.jpg" />
						<div class="mui-media-body">
							<p>执着的心</p>
							<p class="font-12" style="line-height: 25px;">2016-06-28</p>
							<p>玩了几天才来评价，真的很好，静音，在家都能玩，很喜欢，几分钟就学会了。</p>
							<img src="../public/img/36.jpg" />
							<img src="../public/img/36.jpg" style="margin-left: 3px;" />
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.jpg" />
						<div class="mui-media-body">
							<p>执着的心</p>
							<p class="font-12" style="line-height: 25px;">2016-06-28</p>
							<p>玩了几天才来评价，真的很好，静音，在家都能玩，很喜欢，几分钟就学会了。</p>
							<img src="../public/img/36.jpg" />
							<img src="../public/img/36.jpg" style="margin-left: 3px;" />
							<p style="margin-top: 5px;color: #2B3E62;">[商家回复]：谢谢你的支持！</p>
						</div>
					</li>
				</ul>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
