<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>模拟遥控</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<style>
			body,.mui-content{background: #000000;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">模拟遥控</h1>
		</header>
		<div class="mui-content">
			<div style="margin: 6px;">
				<p class="mui-pull-right white">0.5km/h</p>
			</div>
			<div>
				<img src="../public/img/65.png"/>
			</div>
			<div style="position: absolute;top: 63%;left: 30%;">
				<img src="../public/img/66.jpg" style="max-width: 155px;height: 155px;border-radius: 100%;" />
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
