<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>语言</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/iconfont.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">语言</h1>
			<a class="mui-pull-right">
				<h5 style="line-height: 33px;" onclick="openNewPage('my-setting.html')">保存</h5>
			</a>
		</header>
		<div class="mui-content" style="margin-top: 15px;">
			<div>
				<ul class="mui-table-view mui-table-view-radio">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>跟随系统</span>
						</a>
					</li>
					<li class="mui-table-view-cell mui-selected">
						<a class="mui-navigate-right">
							<span>简体中文</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>English</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
