<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>明星教练</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css" />
		<script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../js/appconf.js" ></script>
		<script type="text/javascript" src="../js/stars.js" ></script>
		<style>
			body,.mui-content{background: white;}
			.mui-table-view .mui-media-object{max-width: 45px;height: 45px;border-radius: 100%;}
			.mui-table-view-cell p{margin-top: 6px;}
			.xx{color: #FFB139;margin-left: 6px;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">明星教练</h1>
			<a class="mui-pull-right" onclick="openNewPage('stars-coash1.html')">
				<h5 style="line-height: 33px;">我的</h5>
			</a>
		</header>
		<div class="mui-content">
			<div id="strar">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.jpg" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #FFA2A2;">&#xe615;</i> 20岁</p>
						</div>
					</li>
				</ul>
				<!--<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.png" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #54A1FF;">&#xe614;</i> 25岁</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/4.jpg" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #FFA2A2;">&#xe615;</i> 20岁</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.png" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #54A1FF;">&#xe614;</i> 25岁</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/5.jpg" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #FFA2A2;">&#xe615;</i> 20岁</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.png" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #54A1FF;">&#xe614;</i> 25岁</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.jpg" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #FFA2A2;">&#xe615;</i> 20岁</p>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<img class="mui-media-object mui-pull-left" src="../public/img/1.png" />
						<div class="mui-media-body">
							<span>沉着的心</span><i class="mui-icon iconfont xx">&#xe667;</i>
							<p><i class="mui-icon iconfont" style="color: #54A1FF;">&#xe614;</i> 25岁</p>
						</div>
					</li>
				</ul>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/open.js" ></script>
</html>
