<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>今日路径</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../libs/mui/mui.css" />
		<link rel="stylesheet" href="../libs/iconfont/iconfont.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">今日路径</h1>
		</header>
		<div class="mui-content">
			<div class="m5">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>开始时间</span>
							<input placeholder="2016-08-29" style="float: right;width: 35%;border: none;" />
						</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span>结束时间</span>
							<input placeholder="2016-08-29" style="float: right;width: 35%;border: none;" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/open.js" ></script>
	<script type="text/javascript" src="../js/mui.js" ></script>
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js" ></script>
</html>
