<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>物流信息</title>  
    <link rel="stylesheet" href="../libs/mui/mui.css" />
	<link rel="stylesheet" href="../libs/iconfont/fonts/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	<link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>	
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">物流信息</h1>		
	</header>
		<div class="mui-content">			
		<div class="check">
			<h4>物流跟踪</h4>
			<div class="check_a">
				<div class="mui-col-xs-2 mui-pull-left conten">
					<i id="dian"></i>
					<map></map>
					<i></i>	
					<map></map>
					<i></i>	
					<map></map>
					<i></i>	
					<map></map>
					<i></i>
					<map></map>
					<i></i>
					<map></map>
					<i></i>
					<map></map>
					<i></i>
				</div>
				<div class="mui-col-xs-10 mui-pull-left">
					<div class="logisit mui-active">
						<span>【深圳市】广东省深圳市宝安区沙井公司 已签收 签收人：宋，感谢使用圆通速递，期待再次为您服务</span>
						<p>2016-07-21 11:18:28</p>
					</div>
					<div class="logisit">
						<span>【深圳市】广东省深圳市宝安区沙井派件员：余文发 <a style="text-decoration: underline;color: #7CCBE5;">188121314</a>正为您派件</span>
						<p>2016-07-21 08:23:13</p>
					</div>
					<div class="logisit">
						<span>广东省深圳市宝安区沙井 已收入</span>
						<p>2016-07-21 08:23:40</p>
					</div>
					<div class="logisit">
						<span>【深圳市】快件已到达 广东省深圳市宝安区沙井</span>
						<p>2016-07-21 02:25:16</p>
					</div>
					<div class="logisit">
						<span>广东省深圳市宝安区光明新区公司 已收件</span>
						<p>2016-07-21 19:15:47</p>
					</div>
					<div class="logisit">
						<span>商家正通知快递公司</span>
						<p>2016-07-21 10:47:58</p>
					</div>
					<div class="logisit">
						<span>您的包裹已出库</span>
						<p>2016-07-21 11:20:11</p>
					</div>
				</div>						
			</div>			
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/mui.js"></script>
<script type="text/javascript" src="../libs/jquery/jquery.js"></script>
<script type="text/javascript" src="../js/function.js"></script>
<script type="text/javascript" src="../js/open.js"></script>
</html>