.mui-content>.mui-input-group:first-child{ margin-top: 0; margin-bottom: 0;}
.mui-content>.mui-input-group{ margin-top: 10px;}
.mui-input-row{color: #aaa;}
.mui-input-row label{ width: 25%; position: relative; line-height: 1.4;text-align: center;padding: 11px 15px;}
.mui-input-row label:after{ position: absolute; top: 11px; left: 100%; bottom: 11px; content: ''; width: 1px; background: #C8C7CC; margin-left: -15px;}
.mui-input-row label~input{ width: 75%; font-size: 1em; padding: 0 15px 0 0; height: auto; line-height: 2.9;}
.btn{ width: 90%; margin: 30px auto;}
.btn button{ width: 100%; background: #3385FF; border-color: #3385FF; padding: .6em .8em; color: #FFF;}
.btn button:active{background: #3385FF; opacity: .8;}
.notice{ margin-bottom: 0; padding: 11px 15px; font-size: .75em;}
.mui-input-row .mui-input-clear~.mui-icon-clear{ right: 33%;}